body {
	font-family: lato;
	overflow-x: hidden;
}

.block {
	margin-top: 40px;
	display: none;

}

.block img {
	height: 200px;
	width: 300px;
}

.q {
	padding-bottom: 20px;
}

.block h5 {
	text-align: left;
	line-height: 20px;

}

.modal {
	margin-top: 110px;
}

.header {
	height: auto;
	width: 100%;
	background-color: black;
	color: white;
}

.a p {
	padding-top: 15px;
}

.a a {
	color: white;
}

.navbar {
	min-height: 100px;
}

.navbar-brand {
	padding-top: 15px;
	height: 80px;
	line-height: 80px;
}

.n a {
	color: black;
	font-style: bold;
}

.dropdown-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 30px;
	padding: 9px 10px !important;
}


.n {
	padding-left: 380px;
}

.x {
	padding-top: 15px
}

.icon-bar {
	background-color: black;
	margin-top: 25px;
}

.carousel-caption h1 {

	line-height: 50px;
}

.carousel-caption h1 {
	font-size: 100px;
}

.carousel-caption h3 {
	font-size: 40px;
}

.carousel-inner>.item>img {
	height: 700px;
	width: 100%;
}

.nav-tabs {
	margin-left: 100px;
	margin-right: 0px;
	margin-bottom: 50px;
}

.one {
	margin-left: -40px;
	margin-top: -11px;
	height: 100px;
	width: 115%;
	background-color: white;
}

.v {
	margin-top: 100px;
}

.v input[type="button"] {
	height: 40px;
	width: 110px;
	background-color: black;
	color: white;
	margin-right: -4px;
}

.v input[type="button"]:focus {
	background-color: white;
	color: grey;
	outline: 0;
}

input[type="text"] {
	height: 40px;
	width: 150px;
	padding-top: 7px;
	margin-top: 20px;
	padding-left: 30px;
	color: black;
}

input[type="submit"] {
	background-color: orange;
	height: 40px;
	width: 150px;
	padding-top: 7px;
	margin-top: 20px;
	padding-left: 30px;
	color: white;
}

input[type="date"] {
	height: 40px;
	width: 150px;
	padding-top: 7px;
	margin-top: 20px;
	padding-left: 30px;
	color: orange;

}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

select {
	height: 40px;
	width: 150px;
	padding-top: 7px;
	margin-top: 20px;
	padding-left: 30px;
	color: orange;
}

input::placeholder {
	color: orange;
}

.body {
	padding-top: 60px;
	text-align: center;
	width: 100%;
}

.body u {
	color: orange;
}

.body h1 {
	line-height: 0px;

}

.p img {
	height: 250px;
	width: 360px;
}

.p p {
	line-height: 15px;
	text-align: left;
	color: grey;
}

.p h3 {
	line-height: 15px;
	text-align: left;
}

#myCarousel1 {
	margin-top: 70px;
}

.btn {

	border-radius: 0px;

}

.m {
	margin-top: 50px;
	margin-left: 0px;
	border-radius: 0px;
	width: 150px;
}

.middle {
	height: 350px;
	background-color: black;
	color: white;
	margin-top: 100px;
}

.middle h3,
p {
	text-align: center;

}

.middle h3 {
	padding-top: 20px;
}

.middle img {
	margin-top: 50px;
	height: 80px;
	width: 80px;
}

.middle img:hover {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.affix {
	top: 0;
	width: 100%;
	z-index: 9999 !important;
}

.carousel-control {
	margin-left: -120px;
	background: none !important
}

.carousel-control {
	margin-right: -120px;
	background: none !important
}

.main {
	background-image: url("../img/background.jpg");
	height: 690px;
	width: 100%;
	background-attachment: fixed;
	color: black;

}

.main h3 {
	text-align: center;
}

.main p {
	text-align: center;
}

.c1 {
	padding-top: 10px;
	margin-top: -20px;
	height: 140px;
	width: 100%;
	background-color: white;
}

.r {
	padding-top: 50px;
}

#myCarousel2 {
	padding-top: 50px;
}

.main1 {
	padding-top: 150px;
	width: 100%;
	color: black;
	padding-bottom: 50px;
}

.main1 img {
	height: 200px;
	width: 300px;

}

.e {
	margin-top: 40px;
}

.f {
	padding-top: 30px;

}

.e p {
	text-align: left;
}

.e h3 {
	text-align: left;
}

.f p {
	text-align: left;
}

.f h3 {
	text-align: left;
}

.bt {
	margin-top: 5px;
	width: 130px;
}

.main2 {
	background-image: url("../img/couple.jpg");
	height: 400px;
	width: 100%
}

.main2 h1,
p {
	color: white;
	font-style: bold;

}

.main2 h1 {
	padding-top: 100px;
}

.main2 p {
	line-height: 5px;
}

.pp {
	padding-top: 40px;
	text-align: center;
}

.play img {
	height: 120px;
	width: 120px;
}

.play {
	margin-top: 70px;
}

.main3 {
	margin-top: 80px;
}

.main31 {
	margin-top: 70px;
}

.first {
	height: 200px;
}

.f1 {
	background-color: orange;
	color: black;
	height: 70px;
	padding-top: 5px;
	padding-left: 15px;
}

.f2 {
	background-color: grey;
	color: black;
	height: 50px;
	padding-top: 15px;
}

.f3 {
	background-color: black;
	color: white;
	height: 55px;
	padding-top: 1px;
	padding-left: 10px;
}

.flight img {
	height: 200px;
	width: 200px;
	padding-bottom: 30px;
}

.flight h2 {
	text-align: left;
}

.p5 {
	font-size: 15px;
}

.flight {
	margin-bottom: 20px;
	border: 1px solid grey;
}

.main4 {
	margin-top: 150px;
	height: 300px;
	width: 100%;
	background-image: url('../img/pool.jpg')
}

.cruise {
	border: 1px solid grey;
}

.four1 {
	height: 100px;
	width: 100px;
	color: white;
	float: left;
	padding-top: 120px;
}

.four1 p {
	color: orange;
	font-size: 50px;
	margin-left: 50px;
}

.four2 {
	height: 100px;
	width: 200px;
	float: left;
	padding-top: 100px;
}

.four2 h1 {
	color: white;
	font-size: 50px;
	line-height: 40px;
}

.four2 p {
	color: white;
	font-size: 15px;
}

.main5 {
	margin-top: 60px;
}

.main5 img {
	height: 250px;
	width: 360px;
}

.fiveone {
	margin-top: 50px;
	border: 1px solid grey;

}

.five2 {
	height: 50px;
	width: 360px;
	background-color: black;
	color: white;
}

.five3 {
	height: 100px;
	width: 360px;
	background-color: white;
	color: black;

}

.five2 h2 {
	padding-left: 10px;
	padding-right: 10px;
}

.main6 {
	background-image: url('../img/testi.jpg');
	background-attachment: fixed;
	height: 500px;
	width: 100%;
	margin-top: 130px;
	padding-top: 150px;
	color: white;
}

.main7 {
	background-image: url("../img/subs.jpg");
	height: 500px;
	width: 100%;
	margin-top: 150px;
}

.main7 h1 {
	padding-top: 100px;
	font-size: 40px;
	color: white;
	line-height: 70px;
}

.main7 h4 {
	color: white;
}

.main7 input[type="text"] {
	margin-top: 50px;
	height: 50px;
	width: 600px;
	background-color: white;

}

.main7 input[type="button"] {
	margin-top: 50px;
	height: 50px;
	width: 50px;
	background-color: white;
	color: orange;

}

.main8 {
	background-color: grey;
	height: 280px;
	width: 100%;
}

.main9 {
	background-color: black;
	color: white;
	height: 80px;
}

.main9 h5 {
	padding-top: 20px;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar {
	border-bottom: 2px groove grey;
	margin-bottom: -1px;
}